<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Seus dados</legend>

    <div class="horizontal-line"></div>

    <div class="input-block">
      <label for="nomeCompleto">Nome completo</label>
      <input 
        type="text" 
        id="nomeCompleto" 
        name="nomeCompleto" 
        formControlName="nomeCompleto"
      >
      <div *ngIf="nomeCompleto.invalid && (nomeCompleto.touched || submitted)" class="erro">
        **Campo obrigatório
      </div>
    </div>

    <div class="input-block">
      <label for="nomeUsuario">Nome de usuário</label>
      <input 
        type="text" 
        id="nomeUsuario"
        name="nomeUsuario"
        formControlName="nomeUsuario"
      >
      <div *ngIf="nomeUsuario.invalid && (nomeUsuario.touched || submitted)" class="erro">
        **Campo obrigatório
      </div>
    </div>

    <div class="input-block">
      <label for="email">Email</label>
      <input 
        type="email" 
        id="email"
        name="email"
        formControlName="email"
      >
      <div *ngIf="email.invalid && (email.touched || submitted)" class="erro">
        **Informar email válido
      </div>
    </div>

    <div class="input-block">
      <label for="senha">Senha</label>
      <input 
        type="password" 
        id="senha"
        name="senha"
        formControlName="senha"
      >
      <div *ngIf="senha.invalid && (senha.touched || submitted)" class="erro">
        **Campo obrigatório
      </div>
    </div>

    <button type="submit">Concluir</button>
  </fieldset>

</form>