.jogo {
    display: flex;
    flex-direction: column;
    vertical-align: top; /* caso a imagem não carregue, alinha pelo topo e não pelo baseline */
    font-family: 'Poppins', sans-serif;
    height: 410px;
    width: 256px;
    margin: 5px 8px;
    padding: 5px;
}

.jogo img {
    width: 100%;
    max-height: 80%;
}

.jogo-nome {
    padding: 0 5px;
    height: 90px;
    overflow: hidden; /* o que é sobreposto é escondido */
}

.jogo-nome h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0px;
}

.flex-container-jogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.novidades-populares {
    display: flex;
    flex-direction: column;
    vertical-align: top; /* caso a imagem não carregue, alinha pelo topo e não pelo baseline */
    font-family: 'Poppins', sans-serif;
    height: 270px;
    width: 290px;
    margin: 5px 8px;
    padding: 5px;
}

.novidades-populares img {
    width: 100%;
    max-height: 80%;
}

/* link-jogo no style.css */