p, .texto {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    width: 60%;
    margin: 40px auto;
}

.botoes a {
    width: 150px;
    height: 40px;

    border-radius: 5px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    color: var(--color-text-light);

    transition: background 0.2s; /* transição para o hover */
    background: var(--color-primary);
}

.botoes a:hover{
    background: var(--color-primary-dark);
}

.erro-compra {
  font-size: 1.3em;
  font-weight: 600;
  color: red;
  padding: 20px;
}