<!-- <body> -->
    <div class="flex-container">
        <h1>Pesquisar</h1>
        <div class="pesquisar">
            <input type="text" placeholder="Nome do jogo...">
            <div class="button">
                <a > <!-- routerLink="/" -->
                    <img src="assets/img/pesquisar.png" alt="Estudar">
                </a>
            </div>
        </div>

        <div class="horizontal-line"></div>
        
        <div class="resultado-pesquisa">
            <p>Nenhum jogo encontrado <br> para a sua pesquisa</p>
        </div>

    </div>
<!-- </body> -->