<!-- <body> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
    <div class="flex-container">
        <p>Pesquisar</p>
        <div class="pesquisar">
            <input type="text" placeholder="Nome do jogo...">
            <div class="button">
                <a > <!-- routerLink="/" -->
                    <img src="assets/img/pesquisar.png" alt="Estudar">
                </a>
            </div>
        </div>

        <div class="horizontal-line"></div>
        
        <div class="resultado-pesquisa">
            <p>Nenhum jogo encontrado <br> para a sua pesquisa</p>
        </div>

    </div>
<!-- </body> -->