header {
    margin: 0;
    font-family: 'Archivo', sans-serif;
    /* background-color: #f7f0f0; */
}

.cabecalho {
    background: var(--color-primary);
    color: var(--color-text-light);
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.logo img {
    height: 30px;
    transition: .2s;
}

.logo img:hover{
    opacity: 0.6;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cabecalho a {
    text-decoration: none;
    color: var(--color-text-light);
    font-size: 1.3em;
    padding: 10px 15px;

    transition: .2s;
}

.menu a:hover,
.menu a.selecionado {
    background-color: var(--color-primary-dark);
    border-radius: 10px;
}

.menu ul {
    display: flex;
}

@media(max-width: 1100px) {
    .itens {
        width: 80%;
    }

    .cabecalho a {
        font-size: 1em;
        font-weight: 600;
    }
}

@media(max-width: 700px) {
    .itens {
        justify-content: center;
    }
    
    .menu {
        display: none;
    }
}