<header class="cabecalho">
    <div class="itens">
        <nav class="menu">
            <ul>
                <li>
                    <a routerLink="/loja">Loja</a>
                </li>
                <li>
                    <a routerLink="/biblioteca">Biblioteca</a>
                </li>
                <li>
                    <a routerLink="/jogos">Todos os jogos</a>
                </li>
                <li>
                    <a routerLink="/pesquisar">Pesquisar</a>
                </li>
                <li>
                    <a routerLink="/admin">Admin</a>
                </li>
            </ul>
        </nav>
    
        <div class="logo">
            <a routerLink="/">
                <img src="assets/img/coroa.png" alt="Logo" />
            </a>
        </div>
    </div>
</header>
