<div class="flex-container">
  <h1>{{jogo.nome}}</h1>
  <div class="imagem-jogo">
    <img [src]="jogo.imgPaisagem" />
  </div>

  <div class="texto" [innerHTML]="jogo.descricao"></div>

  <h3 *ngIf="!jogoComprado">{{jogo.preco | currency:'BRL'}}</h3>

  <div *ngIf="!usuario" class="erro-compra">
    Faça login para comprar
  </div>

  <div *ngIf="jogoComprado" class="erro-compra">
    Na biblioteca
  </div>

  <div *ngIf="usuario && !jogoComprado" class="botoes">
    <a routerLink="" (click)="comprar()">Comprar</a>
  </div>
</div>