<header class="cabecalho">
    <div class="itens">
        <a routerLink="/">
            <img class="seta-voltar" src="assets/img/seta-voltar.svg" alt="Voltar" />
        </a>
    
        <a routerLink="/">
            <img src="assets/img/coroa.png" alt="Logo" />
        </a>
    </div>
</header>

<form action="">
    <fieldset>
        <legend>Seus dados</legend>

        <div class="horizontal-line"></div>

        <div class="input-block">
            <label for="nome">Nome completo</label>
            <input type="text" name="nome">
        </div>
    
        <div class="input-block">
            <label for="usuario">Nome de usuário</label>
            <input type="text" name="usuario">
        </div>
    
        <div class="input-block">
            <label for="url-imagem">Link da foto de perfil</label>
            <input type="url" name="url-imagem">
        </div>

        <div class="input-block">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
    
        <div class="input-block">
            <label for="senha">Senha</label>
            <input type="password" name="senha">
        </div>
    
        <button type="submit">Concluir</button>
    </fieldset>

</form>


