/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: #cf1b1b;
    --color-primary-dark: #900d0d;
    --color-secondary: #423144;
    --color-background: #ffecdf;
    --color-background-container: #f6f6f6;
    --color-background-input: #c4c4c4;
    --color-background-input-secondary: #ffede3;
    --color-text-light: #f6f6f6;
    --color-text-dark: #000;
    
    /* font-size: 60%; */
}

body {
    background-color: var(--color-background);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-container);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 1200px;
    margin: 10px auto;
    margin-bottom: 20px;
}

.flex-container img {
    margin: 0;
}

.flex-container h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 32px;
    margin: 10px;
}

a.link-jogo {
    text-decoration: none;
    color: var(--color-text-dark);
    transition: .3s;
}

a.link-jogo:hover{
    opacity: 0.9;
}

input[type='checkbox']{
    width: 18px;
    height: 18px;
    margin: 5px;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    outline: 0;
    border: 1px solid black;
    border-radius: 2px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-size: 2em;
    cursor: pointer;
    background-color: #fff;
}

input[type='checkbox']:checked {
    background-color: var(--color-primary);
}

input[type='checkbox']:checked:after {
    content: '\2713';
    color: white;
    position: absolute;
    line-height: 1rem;
    font-size:1rem;
    padding-left: 0.15rem;
    margin-top: 1px;
}