<app-header></app-header>
<div class="flex-container">
    <h1>Cadastrar Novo Jogo</h1>
    
    <form class="col-9">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="jogo.nome">
        </div>

        <div class="form-group">
            <label for="imgRetrato">Imagem Retrato</label>
            <input type="text" class="form-control" id="imgRetrato" name="imgRetrato" [(ngModel)]="jogo.imgRetrato">
        </div>

        <div class="form-group">
            <label for="imgPaisagem">Imagem Paisagem</label>
            <input type="text" class="form-control" id="imgPaisagem" name="imgPaisagem" [(ngModel)]="jogo.imgPaisagem">
        </div>

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="3" [(ngModel)]="jogo.descricao"></textarea>
        </div>

        <div class="checkboxes">
            <div class="form-group checkbox-block">
                <input type="checkbox" (click)="trocarDestaque()" id="destaque" [checked]="jogo.destaque == true">
                <label class="form-check-label" for="destaque">Destaque</label>
            </div>

            <div class="form-group checkbox-block">
                <input type="checkbox" (click)="trocarMaisVendido()" id="maisVendido" [checked]="jogo.maisVendido == true">
                <label class="form-check-label" for="destaque">Mais Vendido</label>
            </div>

            <div class="form-group checkbox-block">
                <input type="checkbox" (click)="trocarNovidade()" id="novidade" [checked]="jogo.novidade == true">
                <label class="form-check-label" for="destaque">Novidade</label>
            </div>
        </div>

        <button type="button" (click)="cadastrar()">Salvar</button>
    </form>
</div>