button{
    border: none;

    width: 150px;
    height: 40px;

    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-text-light);

    transition: background 0.2s; /* transição para o hover */
    background: var(--color-primary);

    cursor: pointer;
}

button:hover {
    background: var(--color-primary-dark);
}

form {
    font-family: 'Archivo', sans-serif;
    font-size: 1.1em;
}

label {
    font-family: 'Poppins', sans-serif;

    /* padding: 0 40px; */
}

textarea {
    min-height: 100px;
}

input[type=text], textarea {
    border: none;
    width: 100%;

    padding-left: 10px;
    border-radius: 10px;
    height: 50px;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* background-color:var(--color-text-light); */
    background-color: #fff;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkboxes {
    display: flex;
    justify-content: center;

    height: 50px;
    width: 100%;

    box-shadow: none;
}

.checkbox-block {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    transition: .2s;
}

/* .checkbox-block:hover {
    background-color: var(--color-background-input-secondary);
} */