<div class="flex-container">
  <h1>Cadastrar Novo Jogo</h1>
  
  <form class="col-9" [formGroup]="jogoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input 
        type="text" 
        class="form-control" 
        id="nome" 
        name="nome" 
        formControlName="nome"
      >
      <div *ngIf="nome.invalid && (nome.touched || submitted)" class="erro">
        **Campo obrigatório
      </div>
    </div>

    <div class="form-group">
      <label for="preco">Preço (R$)</label>
      <input 
        type="number"
        class="form-control" 
        id="preco" 
        name="preco" 
        formControlName="preco"
      >
      <div *ngIf="preco.invalid && (preco.touched || submitted)" class="erro">
        **Campo obrigatório
      </div>
    </div>

    <div class="form-group">
      <label for="imgRetrato">Imagem Retrato</label>
      <input 
        type="text" 
        class="form-control" 
        id="imgRetrato" 
        name="imgRetrato" 
        formControlName="imgRetrato"
      >
      <div *ngIf="imgRetrato.invalid && (imgRetrato.touched || submitted)" class="erro">
        **Campo obrigatório
      </div>

    </div>

    <div class="form-group">
      <label for="imgPaisagem">Imagem Paisagem</label>
      <input 
        type="text" 
        class="form-control" 
        id="imgPaisagem" 
        name="imgPaisagem" 
        formControlName="imgPaisagem"
      >
      <div *ngIf="imgPaisagem.invalid && (imgPaisagem.touched || submitted)" class="erro">
        **Campo obrigatório
      </div>
        
    </div>

    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea 
        class="form-control" 
        id="descricao" 
        name="descricao" 
        rows="3" 
        formControlName="descricao"
      ></textarea>
      <div *ngIf="descricao.invalid && (descricao.touched || submitted)" class="erro">
        **Escreva uma descrição de pelo menos 50 letras
      </div>
    </div>

    <div class="checkboxes">
      <div class="form-group checkbox-block">
        <input 
          type="checkbox" 
          id="destaque" 
          formControlName="destaque"
        >
        <label class="form-check-label" for="destaque">Destaque</label>
      </div>

      <div class="form-group checkbox-block">
        <input 
          type="checkbox" 
          id="maisVendido" 
          formControlName="maisVendido"
        >
        <label class="form-check-label" for="maisVendido">Mais Vendido</label>
      </div>

      <div class="form-group checkbox-block">
        <input 
          type="checkbox" 
          id="novidade" 
          formControlName="novidade"
        >
        <label class="form-check-label" for="novidade">Novidade</label>
      </div>
    </div>

    <div *ngIf="jogoForm.invalid" class="text-center mt-1 mb-3">
      Preencha todos os campos para salvar
    </div>
    <button type="submit">Salvar</button>
  </form>
</div>